/*
* CORES CARTELA DEFAULT 
* 
* CORES:
* primária: #adff2f (verde vivo | bootstrap: - | css: GreenYellow )
* complementar: #98fb98 (verde bebê | bootstrap: - | css: PaleGreen )
* secundária: #192d35 (azul marinho | bootstrap: - | css: - )
* contraste: #ff00ff (magenta | bootstrap: - | css: magenta )
* 
* ESCALAS DE CINZA:
* branco: #fff (branco | bootstrap: white | css: white)
* bg leve: #f8f9fa (cinza claro | bootstrap: light | css: - )
* textos corpo: #212529 (cinza escuro | bootstrap: default | css: - )
* bg contraste PB (bg banner): #273238 (grafite esverdeado | bootstrap: - | css: - )
* bg escuro (header, footer, button): #343a40 (chumbo | bootstrap: dark | css: - )
* preto: #000 (preto | bootstrap: black | css: black)
* 
**/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.6s ease-in;
}
strong,
i.fas.fa-bars,
a:hover {
    color: #adff2f;
}
a.navbar-brand.text-white:hover,
a.nav-link.text-white:hover,
footer h4 {
    color: #adff2f !important;
}
span.box {
    color: #adff2f;
    font-weight: bolder;
    transition: all 0.6s ease-in;
}
a.navbar-brand.text-white:hover span.box{
    color: #fff !important;
}
a span.box:hover {
    color: #fff;
}
/* a.nav-link.text-white:hover {
    color: #adff2f !important;
} */
ul {
    list-style: none;
}
.btn-dark {
    transition: all 0.3s ease-in-out;
}
.btn-dark:hover,
.btn-dark[aria-expanded="true"],
.banner-caption .btn-dark,
.erro-404 .btn,
.formCadastroSection .btn  {
    background-color: #adff2f;
    color: #000;
}
.banner-caption .btn-dark:hover {
    background-color: #343a40;
    color: #fff;
}
main {
    margin-top: 56px;
    /* Altura do menu do Bootstrap*/
}
.carousel-item {
    /* background-color: #98fb98; */
    color: #fff;
    background-color: #192d35;
}
.banner-caption h1,
.banner-caption h4 {
    font-size: 2em;
    /* font-weight: bolder; */
    font-family: 'Comfortaa', sans-serif;
}
.banner-caption p{
    font-size: 1.2em;
    font-family: 'Comfortaa', sans-serif;
}
#carouselPrincipal .carousel-item:first-child .banner-caption h1 {
    font-size: 2.5em;
}
#carouselPrincipal .carousel-item:first-child .banner-caption p{
    font-size: 1.25em;
}
.banner-img {
    min-width: 240px;
}
section header {
    background-color: #adff2f;
    border-left: 21px solid #192d35;
    font-weight: bolder;
    font-family: 'Comfortaa', sans-serif;
}
.descricaoVitrineHome {
    background-color: #adff2f;
}
section header p,
.descricaoVitrineHome p {
    font-size: 1.2em;
    font-weight: 600;
}
.card-deck .card {
    max-width: 1080px;
    min-width: 200px;
    flex: 1 1 240px;
}
.card-deck .card p.card-text {
    height: 100px;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;  
    display: -webkit-box;
    white-space: wrap;
}
form a[target="_blank"] {
    color: #192d35;
    font-weight: bolder;
}
form a[target="_blank"]:hover, 
p a:hover:not(.btn) {
    color: #000;
    background-color: #adff2f;
    font-weight: bolder;
}
p a[target="_blank"]:hover:not(.btn) {
    color: #000;
    background-color: #ff00ff;
    font-weight: bolder;
}
.erro-404 .box,
.formCadastroSection .box {
    color: #343a40;
}
.formCadastroSection article:first-child p {
    font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
    main {
        min-height: calc(100vh - 348px);
    }
    .banner-caption h1,
    .banner-caption h4 {
        font-size: 3.6em;
    }
    .banner-caption p{
        font-size: 1.25em;
    }
    #carouselPrincipal .carousel-item:first-child .banner-caption h1 {
        font-size: 5em;
    }
    #carouselPrincipal .carousel-item:first-child .banner-caption p{
        font-size: 1.5em;
    }
}